@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Core.Common;
@model IPagedList<CoreAracKiralama.Models.Vehicle>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-3">
        <div class="card" style="width: 100%;">
            <img class="card-img-top" src="@ViewBag.Company.CompanyLogoUrl" alt="@ViewBag.Company.CompanyName">
            <div class="card-body">
                <h5 class="card-title">Firma: @ViewBag.Company.CompanyName</h5>
                <p class="card-text">Adres: @ViewBag.Company.CompanyAddress</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="mailto:@ViewBag.Company.CompanyEmail">@ViewBag.Company.CompanyEmail</a></li>
                <li class="list-group-item"><h3>Tel <span class="badge badge-secondary">@ViewBag.Company.CompanyPhoneNumber</span></h3></li>
                <li class="list-group-item"><h3>Araç Sayısı <span class="badge badge-secondary">@ViewBag.VehicleCount</span></h3></li>
            </ul>
            <div class="card-body">
                @if (@ViewBag.Company.CompanyStatus == true)
                {
                    <a href="#" class="btn btn-success">Aktif</a>
                }
                else
                {
                    <a href="#" class="btn btn-danger">Pasif</a>
                }

                <a asp-controller="Company" asp-action="Update" asp-route-id="@ViewBag.Company.CompanyId" class="btn btn-warning">Düzenle</a>
            </div>
        </div>
    </div>

    <div class="col-lg-9">
        <div class="pagination justify-content-center">
            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Detail", new { page }), new PagedListRenderOptions { LiElementClasses = new string[] { "page-item" }, PageClasses = new string[] { "page-link" } })
        </div>

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col col-sm-6 col-md-4">
                    <div class="card">
                        <img src="@item.VehicleImgUrl" class="card-img-top" style="width:100%">
                        <div class="card-body pt-0 px-0">
                            <div class="d-flex flex-row justify-content-between mb-0 px-3">
                                <small class="text-muted mt-1">Marka Model</small>
                                <h6>@item.Brand.BrandName @item.VehicleName</h6>
                            </div>
                            <div class="d-flex flex-row justify-content-between mb-0 px-3">
                                <small class="text-muted mt-1">Plaka</small>
                                <h6>@item.VehiclePlate</h6>
                            </div>
                            <div class="d-flex flex-row justify-content-between mb-0 px-3">
                                <small class="text-muted mt-1">Saatlik Ücret</small>
                                <h6>@item.VehiclePrice ₺</h6>
                            </div>
                            <div class="d-flex flex-row justify-content-between mb-0 px-3">
                                <small class="text-muted mt-1">Bakım Tarihi</small>
                                <h6>@item.VehicleInspectionTime.ToString("MM/dd/yyyy")</h6>
                            </div>
                            <hr class="mt-2 mx-3">
                            <div class="d-flex flex-row justify-content-between px-3 pb-4">
                                <div class="d-flex flex-column"><span class="text-muted">Araç Durumu</span><small class="text-muted">@item.VehicleStatus</small></div>
                                <div class="d-flex flex-column">
                                    <h5 class="mb-0">@item.VehicleStatus</h5><small class="text-muted text-right">(city/Hwy)</small>
                                </div>
                            </div>
                            <div class="d-flex flex-row justify-content-between p-3 mid">
                                <div class="d-flex flex-column">
                                    <small class="text-muted mb-1">Vites Türü</small>
                                    <div class="d-flex flex-row">
                                        <img src="https://imgur.com/iPtsG7I.png" width="35" height="25">
                                        <div class="d-flex flex-column ml-1"><small class="ghj">@item.VehicleGearType</small><small class="ghj">16V I-4 Turbo</small></div>
                                    </div>
                                </div>
                                <div class="d-flex flex-column">
                                    <small class="text-muted mb-2">Yakıt Türü</small>
                                    <div class="d-flex flex-row">
                                        <img src="https://imgur.com/J11mEBq.png">
                                        <h6 class="ml-1">@item.VehicleFuelType</h6>
                                    </div>
                                </div>
                            </div> <small class="text-muted key pl-3">@item.VehicleType</small>
                            <div class="mx-3 mt-3 mb-2"><a asp-action="Update" asp-controller="Vehicle" asp-route-id="@item.VehicleId" class="btn btn-danger btn-block"><small>Düzenle</small></a></div> <small class="d-flex justify-content-center text-muted">Ufuk Güleç</small>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>